extends layout

block content
 nav.navbar.navbar-default.navbar-fixed-top
  div.container
   div.navbar-header
    ul.nav.navbar-nav
     li
      a(href="./index") 返回首页
    a.navbar-brand(href="#") landslide#{groupname}
   ul.nav.navbar-nav.navbar-right
    li.dropdown
     a.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-expanded="false") 日期
      span.caret
     ul.dropdown-menu(role="menu")
      li
       a(href="./index") 第一周
       a(href="./second") 第二周
       a(href="./third") 第三周
     li
      wb:login-button(type="3,2" onlogin="login" onlogout="logout") 登录按钮
