extends layout

block content
 nav.navbar.navbar-default.navbar-fixed-top
  div.container
   div.navbar-header
    a.navbar-brand(href="#") xml技术
   ul.nav.navbar-nav
    li
     a(href="./movie") 电影
    li
     a(href="./music") 音乐
    li
     a(href="./animation") 动漫
    li
     a(href="./tv") 电视
   ul.nav.navbar-nav.navbar-right
    li.dropdown
     a.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-expanded="false") 日期
      span.caret
     ul.dropdown-menu(role="menu")
      li
       a(href="./index") 第一周
       a(href="./second") 第二周
       a(href="./third") 第三周
     li
      wb:login-button(type="3,2" onlogin="login" onlogout="logout") 登录按钮
 div.row
  div.jumbotron
   div.row
    embed.col(src="logo.svg" width="200" height="200" type="image/svg+xml" pluginspage="http://www.adobe.com/svg/viewer/install/")
   p= weekintro
   p
    button.btn.btn-lg.btn-primary(type="button" data-toggle="popover" title="Download URL" data-content= weekurl) 查看作业文件
   wb:comments(url=weekid width="auto" appkey="3407128574" )
