<!DOCTYPE html>
<html lang="zh-cn" xmlns:wb="http://open.weibo.com/wb">>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>xml技术</title>

    <!-- Bootstrap -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	<meta property="wb:webmaster" content="fd755cc8571159d5" />
	<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=3407128574" type="text/javascript" charset="utf-8"></script>
  </head>
  <body class="container">

	<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
	<div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
		xml技术
	  </a>
    </div>
	<ul class="nav navbar-nav navbar-right">
		<wb:login-button type="3,2" onlogin="login" onlogout="logout">登录按钮</wb:login-button>
	</ul>
  </div>
</nav>
	<div class="jumbotron">
	  <h1>第一周作业</h1>
	  <p>...</p>
	  <p><a class="btn btn-primary btn-lg" href="#" role="button">查看更多</a></p>
	</div>
	<div class="jumbotron">
	  <h1>第二周作业</h1>
	  <p>...</p>
	  <p><a class="btn btn-primary btn-lg" href="#" role="button">查看更多</a></p>
	</div>
	
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="javascripts/bootstrap.min.js"></script>
  </body>
</html>