doctype html(lang="zh-cn" xmlns:wb="http://open.weibo.com/wb")
html
  head
    title xml技术
    meta(property="wb:webmaster" content="fd755cc8571159d5")
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="stylesheets/bootstrap.min.css" rel="stylesheet")
    script(src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js")
    script(src="javascripts/bootstrap.min.js")
    script $(function () {$('[data-toggle="popover"]').popover()})
    script(src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=3407128574" type="text/javascript" charset="utf-8")
  body.container
    block content